<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>APP LOGO</span>

    <div class="d-flex w-100 justify-content-flex-end">
      <ul class="d-flex">
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu>
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign Out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>

  <mat-drawer [mode]="mode" [opened]="sidebarOpen">

    <mat-nav-list id="card-top">
      <div class="profile-card">
        <div class="header">
          <h2>Israel Santana</h2>
          <h4>israelofi2@gmail.com</h4>
        </div>
        <img src="https://avatars2.githubusercontent.com/u/56001907?v=4" alt="user">
      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader>Pages</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
       &nbsp; Dashboard
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>local_post_office</mat-icon>
        &nbsp; Posts
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <mat-icon>notes</mat-icon>
       &nbsp; Articles
      </a>

      <mat-divider></mat-divider>

      <h2 matSubheader>Tools</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="">
        <mat-icon>import_contacts</mat-icon>
        &nbsp; Contacts
      </a>
      <a mat-list-item routerLinkActive="list-item-active" rouerLink="">
        <mat-icon>contact_phone</mat-icon>
        &nbsp; Leads
      </a>


    </mat-nav-list>

  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>

<mat-divider></mat-divider>
<footer>
  &copy; All rights reserved 2020
</footer>
