<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span>APP LOGO</span>

    <div class="d-flex w-100 justify-content-flex-end">
      <ul class="d-flex">
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu>
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign Out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>

  <mat-drawer [mode]="mode" [opened]="true">

    <mat-nav-list id="card-top">
      <div class="profile-card">
        <div class="header">
          <h2>Israel Santana</h2>
          <h4>israelofi2@gmail.com</h4>
        </div>
        <img src="https://avatars2.githubusercontent.com/u/56001907?v=4" alt="user">
      </div>

      <mat-divider></mat-divider>


    </mat-nav-list>

  </mat-drawer>

</mat-drawer-container>
